<?php

/* ---- HTML驱动 ---- */
print <<<D5
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<title>{$config['sys']['name']}</title>
<link href='templates/global.css' rel='stylesheet' type='text/css'/>
<link href='{$module_css}' rel='stylesheet' type='text/css'/>
<script language='javascript' type='text/javascript' src='function/js/jquery.js'></script>
<script language='javascript' type='text/javascript' src='function/js/global.js'></script>
<script language='javascript' type='text/javascript' src='function/js/ajax.js'></script>
<script language="javascript" type="text/javascript" src='function/js/desktop.js'></script>
<script language="javascript" type='text/javascript' src='function/js/windowsManager.js'></script>
<script language='javascript' type='text/javascript' src='{$module_js}'></script>
</head>
<body onload="setupPage('father')" onmousemove='getMousePos()'>

<!-- 窗口容器 -->
<div id="windowBox" onmouseup="unallow()"></div>

<!-- 提示框 -->     
<div id="MSGbox" style="display:none">
    <div id="MSGbox_background">
        <li style="margin-top:10px;">
        	<img src="templates/{$config['sys']['template']}/images/error_logo.jpg" />
        </li>
        <li id="msgbox_shower" style="margin-top:10px;">
            
        </li>
    </div>
</div>

D5;
?>