<?php

/* ---- HTML驱动 ---- */
     
print <<<D5
        <div class="middle_box" style="width:778px">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title">欢迎使用！Welcome to D5Framework!{$is_cache}</span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                <span ondblclick="MSG('测试');" onclick="D5Window('http://127.0.0.1/Project/D5Framework','测试',400,300,2)" style="display:block;width:766px;margin-left:5px;margin-top:110px;text-align:center">恭喜！第五动力轻型开发框架已经正常运行！<br>Congratulations!Your D5Framework is running!</span>
                <!-- LoopShow
                <span style="display:block">Line {$loop_key},The content is:{$loop_char}</span>
                LoopShow -->
                {$loopshow}
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        <div class="left_box" style="width:200px">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title">左侧内容箱<!--{eval echo 1111;}-->
<!--{lang test}-->

$aaa</span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        <div class="right_box" style="width:578px">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title">右侧内容箱</span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>

        <div class="left_box" style="width:200px">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title">左侧内容箱</span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        <div class="middle_box" style="width:378px;">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title">中部内容箱</span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                <a style="padding-left:10px">
                代码与顶部完全相同，页面管理器自动判断和修改宽度及间距
                </a>
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        <div class="right_box" style="width:200px">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title">右侧内容箱</span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        <div class="middle_box" style="width:778px;">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title">底部内容箱</span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        <div id="changePageTarget"></div>
D5;
?>