<?php
print <<<D5


<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<title>{$config['sys']['name']}</title>
<link href='{$template}/global.css' rel='stylesheet' type='text/css'/>
<link href='{$module_css}' rel='stylesheet' type='text/css'/>
<script language='javascript' type='text/javascript' src='function/js/global.js'></script>
<script language='javascript' type='text/javascript' src='function/js/ajax.js'></script>
<script language='javascript' type='text/javascript' src='{$module_js}'></script>
</head>
<body>
D5;
?>