@charset "utf-8";

/* CSS Document */
body {margin:0px;}
ul{list-style:none; padding:0; margin:0;}
li{display:block;float:left; padding:0; margin:0;}
p{ padding:0px; margin:0px;}
em{font-style:normal;}

*{font-family: Verdana, Arial, Helvetica, sans-serif; font-size:12px;}

.clear_div{clear:both;}
.alpha{opacity:0.8; filter: Alpha(Opacity=80);}

/* ------------ 主页CSS代码开始 ------------ */

#window_left{width:6px; height:39px; margin-top:8px; background:url(images/window_left.png);float:left; background-repeat:no-repeat;}
#window_top{height:39px; margin-top:8px; background:url(images/window_topbg.png);float:left; background-repeat:repeat-x}
	#window_top span.title{font-size:14px;font-weight:bold;line-height:30px;color:#0033CC}
#window_right{width:6px; height:39px; margin-top:8px; background:url(images/window_right.png);float:left; background-repeat:no-repeat;}
#window_body{ border-left:solid 1px #d0e9ff; border-right:solid 1px #d0e9ff;float:left}
#window_left_b{width:6px; height:6px; background:url(images/window_left_b.png);float:left; background-repeat:no-repeat;}
#window_bottom{height:6px; background:url(images/window_bottombg.png);float:left; background-repeat:repeat-x}
#window_right_b{width:6px; height:6px; background:url(images/window_right_b.png);float:left; background-repeat:no-repeat;}

/* 全局通用分页样式 */
#pageinfo{width:100%; margin-left:auto; margin-right:auto; text-align:center;}
#pageinfo a{display:block; width:20px; height:15px; line-height:15px; float:left; background:#eefbff; border-right:solid 1px #00bafd; border-bottom:solid 1px #00bafd; font-size:10px; font-family:Verdana, Arial; text-decoration:none; margin-left:2px}
#pageinfo a:hover{background:#c7f2ff; border-left:solid 1px #00bafd; border-top:solid 1px #00bafd;border-right:none; border-bottom:none;}
#pageinfo a.selected{background:#c7f2ff;}