<?php

/* ---- HTML驱动 ---- */
     
print <<<D5
        <div class="middle_box" style="width:778px">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title">欢迎使用！Welcome to D5Framework!{$is_cache}</span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                <span style="display:block;width:766px;margin-left:5px;margin-top:110px;text-align:center">恭喜！第五动力轻型开发框架已经正常运行！<br>Congratulations!Your D5Framework is running!</span>
                <!-- LoopShow
                <span style="display:block">Line {$loop_key},The content is:{$loop_char}</span>
                LoopShow -->
                {$loopshow}
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        <div class="left_box" style="width:200px">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title"></span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        <div class="right_box" style="width:578px">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title"></span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>

        <div class="left_box" style="width:200px">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title"></span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        <div class="middle_box" style="width:378px;">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title">欢迎使用！Welcome to D5Framework!{$is_cache}</span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                <span style="display:block;width:766px;margin-left:5px;margin-top:110px;text-align:center">恭喜！第五动力轻型开发框架已经正常运行！<br>Congratulations!Your D5Framework is running!</span>
                <!-- LoopShow
                <span style="display:block">Line {$loop_key},The content is:{$loop_char}</span>
                LoopShow -->
                {$loopshow}
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        <div class="right_box" style="width:200px">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title"></span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        <div class="middle_box" style="width:778px;">
            <div class='window_left'></div>
            <div class='window_top'>
                <span class="title">欢迎使用！Welcome to D5Framework!{$is_cache}</span>
            </div>
            <div class='window_right'></div>
            <div class='window_body'>
                <span style="display:block;width:766px;margin-left:5px;margin-top:110px;text-align:center">恭喜！第五动力轻型开发框架已经正常运行！<br>Congratulations!Your D5Framework is running!</span>
                <!-- LoopShow
                <span style="display:block">Line {$loop_key},The content is:{$loop_char}</span>
                LoopShow -->
                {$loopshow}
            </div>
            <div class='window_bleft'></div>
            <div class='window_bottom'></div>
            <div class='window_bright'></div>
            <div class='div_clear'></div>
        </div>
        
        
D5;
?>